<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Blog for men</title>
</head>

<body>
    <div class="">
        <h1><a href="/">Blog for men</a></h1>
    </div>
    <div class="">
        <p>published: 04.04.2020</p>
        <h2><a href="">My first post</a></h2>
        <p>Text from first post</p>
    </div>
    <div class="">
        <p>published: 04.04.2020</p>
        <h2><a href="">My second post</a></h2>
        <p>Text from second post</p>
    </div>
</body>

</html>
